#servers {
  padding-top: 25px;
  min-height: calc(100vh - 226px);
}

.server {
  display: flex;
  min-width: 700px;
  align-items: space-around;
}

.server-info {
  min-width: 220px;
}

.timespan-selection-container {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.timespan-selection {
  font-size: 0.8em;
  padding: 0px 8px;
  border-radius: 20%;
}

.timespan-selection:hover {
  cursor: pointer;
}

@media (max-width: 732px) {
  .server {
    display: block;
    margin-bottom: 20px;
    min-width: auto;
  }

  .server-info {
    min-width: auto;
  }

  .timespan-selection-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
