#servers {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 50px;
  padding-top: 25px;
  min-height: calc(100vh - 251px);
}

.pagination > ul {
  display: flex;
  list-style-type: none;
}

.pagination > ul > li > a {
  padding: 5px 10px;
  display: flex;
}

.pagination > ul > li:first-of-type {
  margin-right: 5px;
}

.pagination > ul > li:last-of-type {
  margin-left: 5px;
}

.search-bar {
  margin-left: 20px;
}

@media (max-width: 1600px) {
  #servers {
    grid-template-columns: auto;
  }
}

@media (max-width: 1000px) {
  #top-bar {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    margin-left: 0px;
  }

  .pagination > ul {
    padding-left: 0px;
  }

  .pagination {
    flex-direction: column;
    align-items: center;
  }
}
