.server {
  display: flex;
  min-width: 700px;
  align-items: space-around;
}

.server-info {
  min-width: 260px;
}

.timespan-selection-container {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.timespan-selection {
  font-size: 0.8em;
  padding: 0px 8px;
  border-radius: 20%;
}

.timespan-selection:hover {
  cursor: pointer;
}

@media (max-width: 1600px) {
  .server {
    margin-bottom: 30px;
  }
}

@media (max-width: 1000px) {
  .server {
    display: block;
    margin-bottom: 20px;
    min-width: auto;
  }

  .server {
    margin-bottom: 40px;
  }

  .server-info {
    min-width: auto;
    display: flex;
    justify-content: space-between;
  }

  .timespan-selection {
    margin-left: 15px;
    max-height: 23px;
  }
}

@media (max-width: 520px) {
  .server-info {
    flex-direction: column;
  }

  .timespan-selection-container {
    justify-content: flex-end;
  }
}
