.mcstats-header {
  margin: 20px;
  margin-top: 5px;
}

.mcstats-heading {
  color: #fff;
  margin-left: 10px;
  font-size: 48px;
}

.mcstats-heading:hover {
  color: #fff;
  cursor: pointer;
}

.mcstats-subheading {
  font-size: 21px;
  font-weight: 300;
}
