#servers {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 50px;
  margin-bottom: 50px;
}

.pagination > ul {
  display: flex;
  list-style-type: none;
}

.pagination > ul > li > a {
  padding: 5px 10px;
  display: flex;
}

.pagination > ul > li:first-of-type {
  margin-right: 5px;
}

.pagination > ul > li:last-of-type {
  margin-left: 5px;
}

.mcstats-header {
  padding-left: 15px;
}

.mcstats-heading {
  margin-left: 10px;
  font-size: 48px;
}

.mcstats-subheading {
  font-size: 21px;
  font-weight: 300;
}

@media (max-width: 1500px) {
  #servers {
    grid-template-columns: auto;
  }
}
