.btn-primary.add-server-request-m {
    display: none;
}

@media (max-width: 500px) {
    .btn-primary.add-server-request-d {
        display: none;
    }

    .btn-primary.add-server-request-m {
        display: inline-block;
    }
}